/* Main Page */
body{
  background-color: white;
  margin: 10px;
}

header {
  text-align:center;
  padding-top:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/*navbar container and contents owner: Lauren*/
ul.navbar { /*the beginning of my navigation bar, present on all pages of the site*/
  /*base format derived from w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black */
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: darkslategray;
  border-radius: 7px; /*slightly rounded edges*/
}

li.navbarlist { /*this keeps the links of the navigation bar to the left, rather than the default stacked*/
  float: left;
}

.navbarlist a {
  display: block;
  padding: 10px 20px; 
  text-align: center;
  color: white;
  font-family: sans-serif;
  text-decoration: none; /*this removes the underline, which looks very ugly if left there*/
}

li.navbarlist a:hover { /*changes appearance of list item when user hovers over it with cursor*/
  background-color: white;
  color: darkslategray;
	border-radius: 7px;
}

/* Header images for general layout - Rylie */
.headerimages{
  float: center;
  padding: 10px;
  width: 100%;
  height: 100vh;
}

/* GENERAL STYLE FOR WEBSITE Onwer: Rylie */
h1 {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
  color: darkslategray;

}

h2 {
  font-size: 30px;
  font-family: sans-serif;
  color: darkslategray
}

h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  color: #507c7c;
}

h4 { 
  font-size: 15px;
  font-family: sans-serif;
  color: lightgray
}

/* MISSION STATEMENT*/
.mission{
  background-color: #d0e1e1;
  text-align: center;
  border: 1px solid darkslategray;
  padding: 5px 10px;
  border-radius: 7px; /*slightly rounded edges to be consistent with navbar*/
}


/* Footer owner: Rylie - Columns inspired by https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_column-rule */
footer { /* Add RESPONSIVE DESIGN */
  columns: 50px 3;
  column-rule: 5px lightgray;
  margin-top: 20px;
  padding: 10px;
	text-align: center;
	width: 100%;
  background-color: darkslategray;
  border-radius: 7px; /*slightly rounded edges to be consistent with navbar*/
}
/* IN PROGRESS - Rylie */
.googleMap {
  width: 30px;
  height: 30px;
  float: left;
}