*
/* Main Page */
header {
  text-align:center;
  padding-top:20px;
  font-family: sans serif;
}

.navbar {
  position: fixed;
  background: none;
  height: 80px;
}

h1 {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;

}
