*
/* Main Page */
header {
  text-align:center;
  padding-top:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul.navbar { /*the beginning of my navigation bar, present on all pages of the site*/
  /*base format derived from w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black */
  list-style-type: none;
  margin: 5px;
  overflow: hidden;
  background-color: darkslategray;
  border-radius: 7px; /*slightly rounded edges*/
}

li.navbarlist { /*this keeps the links of the navigation bar to the left, rather than the default stacked*/
	float: left;
}

li.navbarlist a {
  display: block;
  padding: 10px 20px; 
  text-align: center;
  color: white;
  text-decoration: none; /*this removes the underline, which looks very ugly if left there*/
}

li.navbarlist a:hover { /*changes appearance of list item when user hovers over it with cursor*/
	background-color: #132020;
	border-radius: 7px;
}

/* GENERAL STYLE FOR WEBSITE Onwer: Rylie */
h1 {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
  color: darkslategray;

}

h2 {
  font-size: 30px;
  font-family: sans-serif;
}

h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}

h4 { 
  font-size: 15px;
  font-family: sans-serif;
  color: lightgray
}

a{ /* Style for the footer facebook and instagram logos - Rylie */
  float: right;
}

/* Footer owner: Rylie - Columns inspired by https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_column-rule */
footer {
  columns: 50px 3;
  column-rule: 5px lightgray;
  margin-top: 20px;
  padding: 10px;
	text-align: center;
	width: 100%;
  background-color: darkslategray;
}
